.InputWrapper {
    display: flex;
    justify-content: space-between;
}

.inputMain {
    width: 400px;;
}

.input {
    background: transparent;
    outline: none;
    width: 100%;
    color: var(--primary-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);

    &:focus {
        outline: none;
    }
}

.placeholder {
    margin-right: 15px;
    
}