.AppLink {
  color: var(--primary-color);

  &:hover {
    opacity: 0.7;
    color: rgb(149 0 255);
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.redhot {
  color: red;
}
